[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fontawesome-markdown = "*"
markdown = "==3.3.7"
mdx-truly-sane-lists = "*"
mkdocs = "==1.4.3"
mkdocs-awesome-pages-plugin = "==2.9.1"
mkdocs-exclude = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"
mkdocs-same-dir = "*"
mkdocs-static-i18n = "*"
mkdocs-video = "*"
mike = "*"
plantuml-markdown = "*"
pymdown-extensions = "*"
python-markdown-math = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
